
*{
    margin :0;
    padding: 0;
}
body{
    background-color: #191919;
    color: white;
    font-family: 'Poppins', sans-serif;
}
nav{
    display : flex;
    align-items: center;
    justify-content: space-around;
    height: 75px;
    background-color: #191919;
}
nav ul li a{
    color:white;
    text-decoration: none;
    position:relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    font-size: 0;
    height: 3px;
    background: red;
    position:absolute;
    left: 0px;
    bottom: -6px;
    transition: 0.5s;
    
}
nav ul li a:hover::after{
    color:lavender;
    width: 100%;
    font-size: 1.2rem;
}
nav ul li a:hover{
    font-size: 1.2rem;
}

.left{
    font-size: 1.5rem;
}

.right ul{
    display: flex;
    
}
nav ul li{
    list-style: none;
    margin:0px 23px;
}
.first-section{
    display: flex;
    justify-content: space-around;
    margin: 69px 0px;
    align-items: center;
}

.left-section{
    width:33%;
    height: 213px;
    
    font-size: 2rem;
}
.left-section > p{
    font-size:1rem;
}

.right-section{
    width:33%;
    
}
.right-section img{
    width: 104%;
}
.purple{
    color: #ff004f;
}
#element{
    color:#ff004f;
}
hr{
    border: 0;
    margin: auto;
    width: 80vw;
    height: 2px;
    background-color: #ababab;
}
.second-section{
    display: flex;
    color: #ababab;
    max-width: 80vw;
    
    margin: 23px auto;
    
}
.second-section img{
    width:35vw;
    border-radius: 15px;
}
.title{
    font-size: 52px;
    font-weight: 400;
    color: white;
}
.text{
    margin: 2px 55px;
}
.tab-titles{
    display: flex;
    margin: 13px 0px;
}
.tab-links{
    margin: 19px 59px 0px 0px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0px;
    bottom: -8px;
}

.tab-links.active-link::after{
    width: 50%;
}
.tab-content ul li{
    list-style: none;
}
.tab-content ul li span{
    font-size: 15px;
    color: #db3468
}
.tab-content{
    display: none;
}

.tab-content.active-tab{
    display: block;

}

.third-section{
    padding: 0px 150px;;
}

.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
}
.service-list div{
    
    
    background-color: #262626;
    font-size: 13px;
    font-weight: 300;
    border-radius: 20px;
    padding: 50px;
    transition: background 0.5s, transform 0.5s;
}
.service-list div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
     
    
    
    
}
.fourth-section{
    padding: 0px 150px;
    margin: 40px 0px;
}
.project{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
}

.project-list{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.project-list img{
    width: 100%;
    border-radius: 20px;
    display: block;
    height: 320px;
    transition: transform 0.5s;
}
.project-list .img2{
    height: 324px;
}
.layer{
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    height: 0;
    width: 75%;
    border-radius: 20px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 46px;
    text-align: center;
    font-size: 13px;
    overflow: hidden;
    transition: height 0.5s;
}

.layer h3{
    font-size: 20px;
    margin-bottom: 18px;
}
.layer a{
    color: #ff004f;
    border-radius: 50%;
    background: #fff;
    margin-top: 18px;
    padding: 11px;
}
.project-list:hover img{
    transform: scale(1.1);
    height: 100%;
}

.project-list:hover .layer{
    height: 100%;
}

.btn{
    margin: 38px auto;
    padding: 15px;
    display: block;
    color: #fff;
    background: #262626;
    border-radius: 9px;
    font-size: 16px;
}

.btn:hover{
    background: #ff004f;
}

.fifth-section{
    display: flex;
    margin: 20px auto;
    max-width: 80vw;
}
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p i{

    color: #ff004f;
    font-size: 22px;
    margin-right: 17px;
    margin: 8px 0px;

}
.social-icons a{
    
    display: inline-block;
    font-size: 24px;
    margin-top: 11px;
    padding: 4px 8px;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
    margin-right: 8px;

}
.social-icons a:hover{
    background: #ff004f;
    transform: translateY(-5px);
}
.btn2{
    display: inline-block;
    text-decoration: none;
    background: #ff004f;
    color: #fff;
    padding: 8px 14px;
    border-radius: 13px;
    margin-top: 14px;
}

form input,form textarea{
    width: 100%;
    outline: none;
    border: 0;
    background: #262626;
    padding: 8px;
    margin: 7px 0px;
    color: #fff;
    font-size: 14px;
    border-radius: 6px;
}
.copywrite{
    text-align: center;
    width: 100%;
    background: #262626;
    font-weight: 100;
}
